<div class="flex flex-column justify-content-center">
  <div class="flex flex-column justify-content-center" style="margin-top: 9rem;" >

    <div class="ml-8 mr-8 p-3">
      <p-button label="Novo registro" (click)="showDialog()"></p-button>
    </div>

    <div> <app-table-gastos></app-table-gastos></div>
  </div>

<p-dialog
    header="Novo consumo"
    [(visible)]="visibleDialogRegistro"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '22vw' }"
    [draggable]="false"
    [resizable]="false">
  <div class="flex w-auto p-2">
      <form [formGroup]="formGroupGasto" class="p-fluid ">
            <div class="field">
                <div class="field p-1">
                  <label for="valor">Categoria</label>
                      <p-dropdown
                          [options]="categoriaSaldo"
                          formControlName="categoria"
                          optionLabel="name"
                           />
                </div>
                <div class="field">
                    <label for="valor">Valor</label>
                    <input class="w-full" id="valor" type="text" formControlName="valor" pInputText />
                </div>

                <!-- Opção de Parcelamento -->
                  <div class=" flex flex-wrap field-checkbox mt-3 mb-3 align-items-center gap-2">
                      <p-checkbox
                          (click)="checkdParcelado()"
                          [binary]="true"
                          inputId="parcelado">
                      </p-checkbox>
                      <label for="parcelado" class="cursor-pointer text-sm font-medium">Esta compra é parcelada?</label>
                      <span>{{selectedParcelado}}</span>
                  </div>

                  <!-- Campos condicionais que aparecem se 'eh_parcelado' for true -->
                    <div *ngIf="selectedParcelado" class="p-3 surface-ground border-round mb-3">
                        <div class="grid formgrid">
                            <div class="col-6">
                                <label for="parcela_atual" class="text-xs">Total de parcelas</label>
                                <!-- Ex: Parcela 2 -->
                                <input pInputText id="parcela_atual" formControlName="total_parcelas" placeholder="Ex: 12" class="w-full" />
                            </div>
                            <div class="col-6">
                                <label for="parcela_atual" class="text-xs">Parcela atual</label>
                                <!-- Ex: Parcela 2 -->
                                <input pInputText id="parcela_atual" formControlName="parcela_atual" placeholder="Ex: 2" class="w-full" />
                            </div>
                        </div>
                        <small class="text-color-secondary block mt-2">O app vai registrar como <strong>Parcela 2/10</strong> e descontar o valor mensalmente.</small>
                    </div>

                <div class="field">
                    <label for="descrição">Descrição</label>
                    <textarea class="w-full" id="descrição" formControlName="descricao" pInputText></textarea>
                </div>

               <div class="fluid">
                  <label for="data">Data</label>
                  <p-calendar
                    formControlName="data_gasto"
                    class="w-full"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay"
                    [appendTo]="'body'"> <!-- Adicionado aqui -->
                  </p-calendar>
                </div>
            </div>

                <div class="flex justify-content-center p-3 m-3 gap-2">
                    <p-button label="Salvar" [raised]="true" (click)="registraGasto()" />
                    <p-button label="Cancelar" [raised]="true" severity="secondary" (click)="visibleDialog = false" />
                </div>
         </form>
      </div>
</p-dialog>
