
<div class="container-filtros mb-5 p-2">
  <div class="flex flex-wrap">
     <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 mr-2">Inicio</label>
        <p-calendar
            [(ngModel)]="date_start"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay" />
      </div>


      <div class="m-2">
          <label for="icondisplay" class="font-bold block mb-2 ">Fim</label>
          <p-calendar
              [(ngModel)]="date_end"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Grupo</label>
        <p-dropdown
            [options]="grupos"
            [(ngModel)]="selectedGrupos"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Status</label>
        <p-dropdown
            [options]="status"
            [(ngModel)]="selectedStatus"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="mt-5">
        <p-button icon="pi pi-search" size="small" [rounded]="true" severity="primary" [outlined]="true" />
      </div>

      <div class="mt-5 ml-8">
        <p-button (onClick)="showDialog()" label="Novo registro" size="small" />
      </div>


  </div>



</div>

<div class="card flex justify-content-center">

    <p-dialog class="p-2" header="Registrar Novo Gasto" [modal]="true" [(visible)]="visibleDialog "
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [draggable]="false"
      [resizable]="false">
        <div class="flex justify-content-center">
          <form [formGroup]="formGroupGasto" class="p-fluid">
            <div class="field">
                <div class="field">
                    <label for="categoria">Categoria</label>
                    <input class="w-full" id="categoria" type="text" formControlName="categoria" pInputText  />
                </div>
                <div class="field">
                    <label for="valor">Valor</label>
                    <input class="w-full" id="valor" type="text" formControlName="valor" pInputText />
                </div>

                <div class="field">
                    <label for="descrição">Descrição</label>
                    <textarea class="w-full" id="descrição" formControlName="descricao" pInputText></textarea>
                </div>

                <div class="fluid">
                    <label for="data">Data</label>
                    <p-calendar
                      class="w-full"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      inputId="icondisplay">
formControlName="data_gasto"
                      </p-calendar>
                </div>
            </div>


                <div class="flex justify-content-center p-3 m-3 gap-2">
                    <p-button label="Salvar" [raised]="true" (click)="registraGasto()" />
                    <p-button label="Cancelar" [raised]="true" severity="secondary" (click)="visibleDialog = false" />
                </div>


         </form>
        </div>
    </p-dialog>
</div>
