
<div class="container-filtros mb-5 p-2">
  <div class="flex flex-wrap">
     <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 mr-2">Inicio</label>
        <p-calendar
            [(ngModel)]="date_start"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay" />
      </div>


      <div class="m-2">
          <label for="icondisplay" class="font-bold block mb-2 ">Fim</label>
          <p-calendar
              [(ngModel)]="date_end"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Grupo</label>
        <p-dropdown
            [options]="grupos"
            [(ngModel)]="selectedGrupos"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Status</label>
        <p-dropdown
            [options]="status"
            [(ngModel)]="selectedStatus"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="mt-5">
        <p-button icon="pi pi-search" size="small" [rounded]="true" severity="primary" [outlined]="true" />
      </div>

  </div>



</div>
