
<div class="flex w-11 justify-content-center bg-white shadow-3 mt-6 p-2">
  <div class="flex flex-wrap">
     <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 mr-2">Inicio</label>
        <p-calendar
            [(ngModel)]="date_start"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay" />
      </div>


      <div class="m-2">
          <label for="icondisplay" class="font-bold block mb-2 ">Fim</label>
          <p-calendar
              [(ngModel)]="date_end"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Grupo</label>
        <p-dropdown
            [options]="grupos"
            [(ngModel)]="selectedGrupos"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="m-2">
        <label for="icondisplay" class="font-bold block mb-2 ">Status</label>
        <p-dropdown
            [options]="status"
            [(ngModel)]="selectedStatus"
            optionLabel="name"
            placeholder="Select o grupo" />
      </div>

      <div class="mt-5">
        <p-button icon="pi pi-search" size="small" [rounded]="true" severity="primary" [outlined]="true" />
      </div>

      <div class="mt-5 ml-8">
        <p-button (onClick)="showDialog()" label="Novo registro" size="small" />
      </div>

      <div class="mt-5 ml-3">
        <p-button (onClick)="showDialogReceita()" label="Recebimento" size="small" />
      </div>


  </div>



</div>

<div class="card flex justify-content-center">
    <p-dialog class="p-2" header="Registrar Novo Gasto" [modal]="true" [(visible)]="visibleDialog "
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [draggable]="false"
      [resizable]="false">
        <div class="flex justify-content-center">
          <form [formGroup]="formGroupGasto" class="p-fluid">
            <div class="field">
                <div class="field p-1">
                  <label for="valor">Categoria</label>
                      <p-dropdown
                          [options]="categoriaSaldo"
                          formControlName="categoria"
                          optionLabel="name"
                           />
                </div>
                <div class="field">
                    <label for="valor">Valor</label>
                    <input class="w-full" id="valor" type="text" formControlName="valor" pInputText />
                </div>

                <!-- Opção de Parcelamento -->
                  <div class=" flex flex-wrap field-checkbox mt-3 mb-3 align-items-center gap-2">
                      <p-checkbox
                          (click)="checkdParcelado()"
                          [binary]="true"
                          inputId="parcelado">
                      </p-checkbox>
                      <label for="parcelado" class="cursor-pointer text-sm font-medium">Esta compra é parcelada?</label>
                      <span>{{selectedParcelado}}</span>
                  </div>

                  <!-- Campos condicionais que aparecem se 'eh_parcelado' for true -->
                    <div *ngIf="selectedParcelado" class="p-3 surface-ground border-round mb-3">
                        <div class="grid formgrid">
                            <div class="col-6">
                                <label for="parcela_atual" class="text-xs">Total de parcelas</label>
                                <!-- Ex: Parcela 2 -->
                                <input pInputText id="parcela_atual" formControlName="total_parcelas" placeholder="Ex: 12" class="w-full" />
                            </div>
                            <div class="col-6">
                                <label for="parcela_atual" class="text-xs">Parcela atual</label>
                                <!-- Ex: Parcela 2 -->
                                <input pInputText id="parcela_atual" formControlName="parcela_atual" placeholder="Ex: 2" class="w-full" />
                            </div>
                        </div>
                        <small class="text-color-secondary block mt-2">O app vai registrar como <strong>Parcela 2/10</strong> e descontar o valor mensalmente.</small>
                    </div>

                <div class="field">
                    <label for="descrição">Descrição</label>
                    <textarea class="w-full" id="descrição" formControlName="descricao" pInputText></textarea>
                </div>

               <div class="fluid">
                  <label for="data">Data</label>
                  <p-calendar
                    formControlName="data_gasto"
                    class="w-full"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay"
                    [appendTo]="'body'"> <!-- Adicionado aqui -->
                  </p-calendar>
                </div>
            </div>

                <div class="flex justify-content-center p-3 m-3 gap-2">
                    <p-button label="Salvar" [raised]="true" (click)="registraGasto()" />
                    <p-button label="Cancelar" [raised]="true" severity="secondary" (click)="visibleDialog = false" />
                </div>


         </form>
        </div>
    </p-dialog>
</div>


<p-dialog header="Adicionar novo recebimento" [modal]="true" [(visible)]="visibleModalNovaReceita" [style]="{ width: '25rem' }">
    <div class="m-3 p-3">
      <app-add-receita></app-add-receita>

    </div>
</p-dialog>
