
<div class="flex justify-content-center p-3">

  <div class="flex flex-wrap">

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column text-xs m-2 text-base"  header="Receitas">
      <div >
        <strong style="font-size: 20px; color: rgb(213, 122, 53);">RS&nbsp;4.500,00</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column text-base m-2" header="Despesas">
      <div >
        <strong style="font-size: 20px; color: rgb(223, 65, 65);">RS&nbsp;{{ totalDespesas | currency:'BRL':'symbol':'1.2-2' }}</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column m-2" header="Saldos">
      <div >
        <strong style="font-size: 20px; color: rgb(63, 69, 223);">RS&nbsp;4.500</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column m-2" header="Execução">
      <div >
        <strong style="font-size: 20px; color: rgb(213, 122, 53);">RS&nbsp;4.500</strong>
      </div>
    </p-card>
  </div>

</div>

</div>
