<!-- <div class="container-cards-resumo">
    <div class="flex cards box-sombra" >
      <div class="flex" style="justify-content: space-between; align-items: center;">
        <span>Receitas</span>
        <img src="../../../assets/Percentage Growth.png" width="20" />
      </div>

      <div style="margin-top: 3rem;">
        <strong style="font-size: 20px; color: rgb(31, 152, 20);">RS&nbsp;4.500</strong>
      </div>
    </div>

    <div class="flex cards box-sombra">
      <div class="flex" style="justify-content: space-between; align-items: center;">
        <span>Despesas</span>
        <img src="../../../assets/Percentage Growth.png" width="20" />
      </div>

      <div style="margin-top: 3rem;">
        <strong style="font-size: 20px; color: rgb(223, 65, 65);">RS&nbsp;4.500</strong>
      </div>
    </div>

    <div class="flex cards box-sombra">
      <div class="flex" style="justify-content: space-between; align-items: center;">
        <span>Saldos</span>
        <img src="../../../assets/Percentage Growth.png" width="20" />
      </div>

      <div style=" margin-top: 3rem;">
        <strong style="font-size: 20px; color: rgb(63, 69, 223);">RS&nbsp;4.500</strong>
      </div>
    </div>

    <div class="flex cards box-sombra">
      <div class="flex" style="justify-content: space-between; align-items: center;">
        <span>Execução</span>
        <img src="../../../assets/Percentage Growth.png" width="20" />
      </div>

      <div style="justify-content: left; margin-top: 3rem;">
        <strong style="font-size: 20px; color: rgb(213, 122, 53);">RS&nbsp;4.500</strong>
      </div>
    </div>


</div> -->


<div class=" flex pl-2 pr-2 justify-content-center flex-wrap w-screen">

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column text-xs m-2 text-base"  header="Receitas">
      <div >
        <strong style="font-size: 20px; color: rgb(213, 122, 53);">RS&nbsp;4.500,00</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column text-base m-2" header="Despesas">
      <div >
        <strong style="font-size: 20px; color: rgb(223, 65, 65);">RS&nbsp;4.500,00</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column m-2" header="Saldos">
      <div >
        <strong style="font-size: 20px; color: rgb(63, 69, 223);">RS&nbsp;4.500</strong>
      </div>
    </p-card>
  </div>

  <div class="card w-20rem">
    <p-card class="flex pl-2 pr-2 flex-column m-2" header="Execução">
      <div >
        <strong style="font-size: 20px; color: rgb(213, 122, 53);">RS&nbsp;4.500</strong>
      </div>
    </p-card>
  </div>

</div>
