<div class="flex justify-content-center mt-4 ">
  <div class="flex flex-column justify-content-center bg-white p-3 shadow-2 border-round w-11">
    <h4 class="ml-2">Gastos Registrados</h4>

    <p-table
      [value]="recebimentos"
      [paginator]="true"
      responsiveLayout="stack"
      [breakpoint]="'960px'"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Codigo</th>
            <th>categoria</th>
            <th>Descrição
            <th>Valor</th>
            <th>Data 12</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-recibo let-columns="columns" >
        <tr class="p-2" *ngIf="recibo.id" >
            <td>
                {{recibo.id}}
            </td>
            <td>
                {{recibo.categoria}}
            </td>
            <td>
                {{recibo.descricao}}
            </td>
            <td>
                {{recibo.valor | currency:'BRL'}}
            </td>

            <td>
                {{recibo.data | date:'dd/MM/yyyy'}}
            </td>

        </tr>
    </ng-template>

</p-table>

  </div>
</div>
