  <!-- <div class="flex align-items-center justify-content-center ">
    <div style="width: 40%; height: 100vh;">
      <form [formGroup]="formGroup">
        <div class="flex align-items-center justify-content-center h-screen ">
            <div class="surface-card p-5 shadow-2 border-round w-full lg:w-6" >
                <h3 class="text-center pb-4">REGISTRO DE GASTOS</h3>

                <div class="flex flex-column pb-3">
                    <label for="username" class="mb-2 font-medium">Usuário</label>
                    <input pInputText id="username" type="text" formControlName="email"  class="w-full" />
                </div>

                <div class="flex flex-column pb-4">
                    <label for="password" class="mb-2 font-medium">Senha</label>
                    <input pInputText id="password" type="password" formControlName="senha" class="w-full" />
                </div>

                <p-button label="Login" icon="pi pi-user" (click)="showDashboard()" styleClass="w-full"></p-button>
            </div>
          </div>
      </form>

    </div>

  </div>
 -->
<div class="flex justify-content-center align-items-center container-login">
  <div class="flex flex-column w-full lg:w-3 h-23rem  surface-card p-5 m-3 shadow-2 border-round">
    <form [formGroup]="formGroup">
      <h2 class="text-center mb-5">Login</h2>
      <div class=" field">
      <label for="firstname1">Email</label>
      <input id="firstname1" type="text" formControlName="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field">
      <label for="lastname1">Senha</label>
      <input id="lastname1" type="password" formControlName="senha" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <footer>
      <div class="mt-3"><p-button label="Entrar" icon="pi pi-user" (click)="showDashboard()" styleClass="w-full"></p-button></div>

      </footer>
    </form>
  </div>
</div>




