<!-- Toast posicionado no topo absoluto da raiz, fora de qualquer container restritivo -->
<div class="flex justify-content-center">
  <p-toast position="top-right" [baseZIndex]="10000"></p-toast>
</div>

<div class="app-layout">
  <ng-container>
    <app-menu-bar></app-menu-bar>
  </ng-container>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- Spinner Global Overlay -->
@if (isLoading$ | async) {
  <div class="spinner-overlay">
    <div class="spinner"></div>
    <p>Carregando ...</p>
  </div>
}
