
  <div *ngIf="isLogado" class="shadow-3 fixed z-5 w-full" visible="isLogado$" >
    <p-menubar [model]="items()">
        <ng-template pTemplate="start" class="col-10">
         <div class="flex align-items-center">
            <img src="../../../assets/logo.png" class="w-full md:w-10rem lg:w-20rem h-auto" alt="Logo do Sistema"/>
        </div>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root" style="margin-left: 1.5rem;">
          <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>

        </ng-template>
        <ng-template pTemplate="end">
            <p-button icon="pi pi-user" (onClick)="op.toggle($event)" [rounded]="true" [text]="true" severity="secondary"/>
              <div class="flex bg-primary">
                    <p-overlayPanel #op>
                          <div class="flex flex-column" >
                            <span style="cursor: pointer;">
                                <i class="pi pi-user" style="color: rgb(144, 143, 143)"></i>
                              &nbsp;Perfil</span>
                            <p-divider type="solid" />
                            <span style="cursor: pointer;">
                              <i class="pi pi-cog" style="color: rgb(144, 143, 143)"></i>
                              &nbsp; Configurações</span>
                            <p-divider type="solid" class="mb-3" />
                            <span (click)="showDialogLogout()" style="cursor: pointer;">
                              <i class="pi pi-sign-out" style="color: rgb(144, 143, 143)"></i>
                              &nbsp;Sair
                            </span>
                          </div>

                    </p-overlayPanel>
                </div>
        </ng-template>
    </p-menubar>
</div>



<p-dialog
    header=""
    [(visible)]="visibleLogout"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false">
        <span class=" text-lg font-bold">
            Tem certeza que deseja sair?
        </span>
        <footer class="flex justify-content-center mt-4">
            <button pButton type="button" label="Cancelar" size="small" class="p-button-text" severity="secondary" (click)="visibleLogout = false"></button>
            <button pButton type="button" label="Sair" size="small" class="p-button-text" severity="primary" (click)="fazerLogout()"></button>
        </footer>
</p-dialog>

