<div class="flex flex-column justify-content-center p-2">

    <div style="margin-top: 2.5rem;" >
      <app-filtros></app-filtros>
    </div>
    <div class="flex justify-content-center">
      <app-cards-resumo></app-cards-resumo>
    </div>

    <div class="flex flex-wrap align-items-center border-round-md shadow-3 bg-white">
        <div class="col-12 md:col-6 ">
            <app-donut></app-donut>
        </div>

        <div class="col-12 md:col-6">
            <app-barra></app-barra>
        </div>
    </div>

</div>



